.about-container {

  img {
    width: 17em;
  }

  p {
    margin: 0 5% 0 5%;
  }

  .p1 {
    font-size: 1.75em;
    margin-top: 11%;
  }

  .p2 {
    font-size: 1.75em;
    margin-top: 2.5%;
  }

} // end .about-container
