.contact-container {

  img {
    width: 17em;
  }

  p {
    font-size: 1.75em;
    margin: 11% 0 11% 0;
  }

  .fa {
    font-size: 3em;
    padding: 0 1em;
  }

  @media screen and ( max-width: 545px ) {

    img {
      width: 10em;
    }

    .fa {
      font-size: 2.75em;
      padding: 0 .25em;
    }
  }

} // end .contact-container
