.main-home {
  // .main-background {
  //   width: 1440px;
  //   height: 738px;
  //   margin-bottom: 15em;
  // }

  .main-background {
    width: 100%;
    height: 738px;
    padding-top: .65em;
    margin-bottom: 15em;
  }
}
