.home-container {

  a {
    text-decoration: none;
    color: $color-charcoal;
  }

  .container-fluid {
    padding: 0;
    background-color: #fff;
  }

  .img-home {
    width: 100%;
    margin-bottom: 5%;
  }

  .row-1,
  .row-3 {
    background-color: $color-myName;
  }

  .thumbnail {
    margin-top: 2em;
  }

  .row-2 {
    background-color: $color-green;
  }

  .jenerik-pic {
    width: 20%;
  }

  aside {
    padding-bottom: 2em;
  }

  .info-container {
    width: 100%;
  }

  .info-container-even {
    margin-left: 5%;
  }

  .portfolio-h1 {
    color: $color-charcoal;
    margin-bottom: 2.25em;
  }

  .pull-right {
    float: right;
    width: 30%;
  }

  .row-2 aside {
    float: left;
    width: 65%;
    padding-left: 6em;
  }

  .thumbnail {
    margin: 0;
    margin-right: 12%;
    margin-bottom: 10em;
    margin: 0;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    margin-left: 1.5em;
  }

  .etsy-thumbnail {
    margin: 0 0 0 10%;
    padding-right: 0;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }

  .tech li {
    font-size: 1.45em;
    color: $color-charcoal;
    float: left;
    padding-left: 1em;
  }

  .etsy-tech li {
    font-size: 1.45em;
    color: $color-charcoal;
    float: left;
    padding-left: 1em;
  }

  .etsy-tech li:last-child {
    padding-bottom: 1em;
  }

  .etsy-p {
    color: $color-charcoal;
  }

  p {
    font-size: 1.45em;
    color: $color-charcoal;
    margin-right: 7%;
  }

  .left-column {
    float: left;
    margin-left: 3.5em;
    width: 20%;
  }

  aside {
    float: right;
    width: 70%;
  }

  .row-2 .thumbnail {
    margin-top: 1.75em;
    margin-right: 3em;
    width: 70%;
  }

  .etsy aside {
    padding-bottom: .5em;
  }


  @media screen and ( max-width: 555px ) {

    .portfolio-h1 {
      color: $color-charcoal;
      margin-bottom: 1.25em;
    }

    .thumbnail {
      background-color: $color-myName;
      border: none;
      padding-left: .25em;
      margin-bottom: 2em;
    }

    .row {
      margin-left: 0;
      margin-right: 0;
    }

    img {
      width: 24em;
    }

    .carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
      display: inline;
    }

    .info-container {
      padding-left: 1.2em;
    }

    .info-container-even {
      padding: .5em 0 0 .15em;
    }

    .tech li {
      padding-left: 0;
    }

    .etsy-thumbnail {
      background-color: $color-green;
      border: none;
      padding-left: 0;
      padding-bottom: 1.5%;
      margin-left: 0;
    }

    .img-thumbnail, .thumbnail {
      -webkit-box-shadow: none;
              box-shadow: none;
    }

    .img-home {
      width: 100%;
    }


  } // end max-width: 555px

  @media screen and ( max-width: 770px ) {

    .portfolio-h1 {
      color: $color-charcoal;
      margin-bottom: 1.25em;
    }

    .thumbnail {
      background-color: $color-myName;
      border: none;
      padding-left: .25em;
      margin-bottom: 2em;
    }

    .row {
      margin-left: 0;
      margin-right: 0;
    }

    img {
      width: 24em;
    }

    .carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
      display: inline;
    }

    .info-container {
      padding-left: 1.2em;
    }

    .info-container-even {
      padding: .5em 0 0 .15em;
    }

    .tech li {
      padding-left: 0;
    }

    .etsy-thumbnail {
      background-color: $color-green;
      border: none;
      padding-left: 0;
      padding-bottom: 1.5%;
      margin-left: 0;
    }

    .img-thumbnail, .thumbnail {
      -webkit-box-shadow: none;
              box-shadow: none;
    }

    .img-home {
      width: 100%;
    }


  } // end max-height: 691px



}
