@import "../../bower_components/susy/sass/susy";

.main-portfolio {

  z-index: 0;

  a {
    text-decoration: none;
    color: $color-myName;
  }

  $susy: (
    columns: 12,
    container: 95%
  );

  h2 {
    text-align: center;
    font-family: $sans-serif-stack;
    font-size: 1.75em;
    color: #fff;
    padding: 1.5em 0 2.5em 0;
  }

  .teaser-container {
    @include container;
    box-sizing: border-box;
    height: 205em;
    margin-top: 5.5em;
    padding: 3em 0 0 2.75em;
    background-color: $color-nav;

    img {
      height: 28.5em;
      margin-top: 4%;
    }
  }

  aside {
    @include span( 3 of 12 );
    // background: orange;

    .tech-heading {
      text-align: center;
      // background: blue;
    }

    .tech {
      margin: 8% 20% 0 20%;
      width: 10em;
      font-family: $sans-serif-stack;
      font-size: 2.75em;
      color: #fff;
      line-height: 1.75em;
    }
  }

  img,
  h3 {
    @include span( 6 of 12 );
    position: relative;
    left: 2.75em;
    // background: yellow;
  }

  h3 {
    // margin-left: -.0015em;
  }

  img {
    left: 9.5em;
  }

  .homeshare img {
    margin-bottom: 25em;
  }

  .etsy img {
    margin-bottom: 10.5em;
  }

  .chess img {
    top: 1.5em;
    left: 9.25em;
    margin-bottom: 12em;
  }

  h3,
  h4 {
    text-align: center;
  }

  .tech-heading,
  .live-demo,
  h3 {
    font-family: $sans-serif-stack;
    font-size: 3.5em;
    font-weight: 500;
    color: $color-myName;
  }

  .live-demo {
    @include span( 7 of 12 );
    position: relative;
    top: .5em;
    left: 2em;
  }

  .iron-pet,
  .iron-pet aside,
  .iron-pet .tech-heading,
  .iron-pet .tech,
  .iron-pet img,
  .iron-pet h3 {
    top: 110%;
  }

  .memory,
  .memory aside,
  .memory .tech-heading,
  .memory .tech,
  .memory img,
  .memory h3 {
    top: 205%;
  }
} // end main-portfolio
