@import "../../bower_components/susy/sass/susy";

.main-portfolio {

  z-index: 0;

  @media screen and ( min-width: 17em ) {

    .teaser-container {
      @include container;
      box-sizing: border-box;
      height: 205em;
      margin-top: 5.5em;
      padding: 3em 0 0 2.75em;
      background-color: $color-nav;

      a {
        text-decoration: none;
        color: $color-myName;
      }

      $susy: (
        columns: 12,
        container: 95%
      );

      h2 {
        text-align: center;
        font-family: $sans-serif-stack;
        font-size: 1.75em;
        color: #fff;
        padding: 1.5em 0 2.5em 0;
      }

      img {
        height: 28.5em;
        margin-top: 4%;
      }
    }

    aside {
      @include span( 3 of 12 );
      // background: orange;

      .tech-heading {
        text-align: center;
        // background: blue;
      }

      .tech {
        margin: 8% 20% 0 20%;
        width: 10em;
        font-family: $sans-serif-stack;
        font-size: 2.75em;
        color: #fff;
        line-height: 1.75em;
      }
    }

    img,
    h3 {
      @include span( 6 of 12 );
      position: relative;
      left: 2.75em;
      // background: yellow;
    }

    h3 {
      // margin-left: -.0015em;
    }

    img {
      left: 9.5em;
    }

    .homeshare img {
      margin-bottom: 25em;
    }

    .etsy img {
      margin-bottom: 10.5em;
    }

    .chess img {
      top: 1.5em;
      left: 9.25em;
      margin-bottom: 12em;
    }

    h3,
    h4 {
      text-align: center;
    }

    .tech-heading,
    .live-demo,
    h3 {
      font-family: $sans-serif-stack;
      font-size: 3.5em;
      font-weight: 500;
      color: $color-myName;
    }

    .live-demo {
      @include span( 7 of 12 );
      position: relative;
      top: .5em;
      left: 2em;
    }

    .iron-pet,
    .iron-pet aside,
    .iron-pet .tech-heading,
    .iron-pet .tech,
    .iron-pet img,
    .iron-pet h3 {
      top: 110%;
    }

    .memory,
    .memory aside,
    .memory .tech-heading,
    .memory .tech,
    .memory img,
    .memory h3 {
      top: 205%;
    }
  } // end min-width 16em


  @media screen and ( min-width: 64em ) {

    .teaser-container {
      @include container;
      box-sizing: border-box;
      height: 182em;
      margin-top: -11.05em;
      padding: 3em 0 0 2.75em;
      background-color: $color-nav;

      a {
        text-decoration: none;
        color: $color-myName;
      }

      $susy: (
        columns: 12,
        container: 95%
      );

      h2 {
        text-align: center;
        font-family: $sans-serif-stack;
        font-size: 1.75em;
        color: red;
        padding: 1.5em 0 2.5em 0;
      }

      img {
        height: 28.5em;
        margin-top: 4%;
      }
    }

    aside {
      @include span( 3 of 12 );
      // background: orange;

      .tech-heading {
        text-align: center;
        margin-left: 14%;
        // background: blue;
      }

      .tech {
        margin: 8% 20% 0 40%;
        width: 10em;
        font-family: $sans-serif-stack;
        font-size: 2em;
        color: #fff;
        line-height: 1.75em;
      }

      .etsy-tech-heading {
        margin-top: -5.5em;
      }

    }

    img,
    h3 {
      @include span( 7 of 12 );
      position: relative;
      left: 4.25em;
      // background: yellow;
    }

    h3 {
      margin-left: .65em;
    }

    img {
      left: 25.5em;
      width: 28em;
    }

    .homeshare h3 {
      margin-left: 1.5em;
    }

    .homeshare img {
      margin-bottom: 25em;
    }

    .etsy img {
      margin: 0 0 10.5em -65%;
    }

    .chess img {
      top: 1.5em;
      left: 9.25em;
      margin-bottom: 12em;
    }

    section {
      clear: both;
    }

    h3,
    h4 {
      text-align: center;
    }

    .tech-heading,
    .live-demo,
    h3 {
      font-family: $sans-serif-stack;
      font-size: 2.75em;
      font-weight: 500;
      color: $color-myName;
    }

    .etsy-heading {
      margin-top: -5.5em;
    }

    .etsy img {
      position: relative;
      bottom: 8.5em;
      left: 71.65em;
    }

    .live-demo {
      @include span( 7 of 12 );
      position: relative;
      bottom: 2em;
      left: 4.95em;
    }

    .live-demo a,
    .live-demo {
      color: $color-charcoal;
    }

    .chess,
    .chess aside,
    .chess .tech-heading,
    .chess .tech,
    .chess img,
    .chess h3 {
      position: relative;
      bottom: 2.75em;
    }

    .chess .tech-heading {
      margin-top: .9em;
    }

    .chess img {
      margin: -3em 0 0 16.5em;
    }

    .memory,
    .memory aside,
    .memory .tech,
    .memory img,
    .memory h3 {
      margin-top: 1.25em;
    }

    .memory .tech-heading {
      margin-top: .8em;
    }

    .memory img {
      margin-top: 4.5em;
    }
  } // end min-width 46.5em

} // end main-portfolio
