.contact-container {

  width: 92%;

  .my-profile {
    width: 35%;
    margin: 10% auto;
  }

  @media screen and ( min-width: 200px ) and ( max-width: 550px ) {

    .text-center {
      font-size: 1.5em;
    }

    .social {
      margin-top: 7em;
    }

    .social a {
      font-size: 2.5em;
      margin: 3em .1em 0;
      padding: 0 .25em;
    }

  }

  @media (min-width: 860px) {

    .my-profile {
      width: 30%;
      margin: 5% auto 5%;
    }

    .text-center {
      font-size: 2.7em;
    }

    .social {
      margin-top: 7em;
    }

    .social a {
      font-size: 2.5em;
      margin: 1em .1em 0;
      padding: 0 .25em;
    }

  } // end media query min-width: 250 and max-width: 850

  @media (min-width: 550px) and (max-width: 860px) {

    .my-profile {
      width: 32%;
      margin: 10% auto 7%;
    }

    .text-center {
      font-size: 2.5em;
    }

    .social {
      margin-top: 7em;
    }

    .social a {
      font-size: 2.25em;
      margin: 3em .1em 0;
      padding: 0 .25em;
    }

  } // end media query min-width: 250 and max-width: 850

  @media screen and ( min-width: 985px ) {
    .my-profile {
      width: 25%;
      margin: 5% auto 5%;
    }
  }


} // end .contact-container
