header {
  height: 10em;
}

.navbar {
  margin-bottom: 0;
  min-height: 10em;
}

.navbar-toggle .fa-bars {
    font-size: 4em;
    color: #fff;
    margin-right: 1em;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #36454F;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #36454F;
}

.navbar-inverse .navbar-toggle {
    border-color: #36454F;
}

.navbar-inverse {
  background-color: #36454F;
  border-color: #36454F;
}

.navbar-brand {
  font-size: 1.8em;
  margin-top: .35em;
}

.navbar-inverse .navbar-brand {
  color: #fff;
}

.navbar-inverse .navbar-nav>li>a {
  color: #fff;
}

.navbar-nav>li>a {
  padding-top: 45px;
}

.nav.navbar-nav {
  margin: auto;
}

.nav>li>a:first-of-type {
    padding-left: 7px;
}

ul {

  li {
    font-size: 2.5em;
  }

}

.nav,
.navbar-nav,
.collapse,
.navbar-collapse,
.align-content-center,
#myNavbar {
  margin: auto;
}

@media screen and ( min-width: 768px ) {

  // .navbar-toggle {
  //   display: none !important;
  // }
  //
  // .navbar-collapse {
  //   display: block !important;
  // }

}

@media (min-width: 250px) and (max-width: 990px) {
  .navbar-collapse.collapse {
        display: none!important;
    }

  .navbar-toggle {
    display: block !important;
  }
  //
  // .nav,
  // .navbar-nav,
  // .collapse,
  // .navbar-collapse,
  // .navbar-right {
  //   display: none !important;
  // }

} // end media query min-width: 250 and max-width: 850
